@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

html {
  font-family: "Roboto",
    sans-serif;
  background-color: #6fddaf;
  background-size: 3px;
  font-family: Arial, sans-serif;
}

.header {
  height: 100vh;
  border-bottom: 2px solid #fdf1b1;
}

.header__top {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  width: 100%;
  margin: 0 auto;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  font-size: 24px;
  font-weight: 600;
  line-height: 130%;
  box-shadow: none;
  color: rgb(77, 155, 116);
}

.menu__item {
  border-bottom: 2px solid #fdf1b1;
  border-radius: 5px;
}

.menu__item:not(:last-child) {
  margin-right: 25px;
}

.menu__item:hover {
  cursor: pointer;
  box-shadow: 1px ;
  color: rgb(46, 96, 71);
}

.header__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
}

.main {
  width: 100%;
}

section {
  min-height: 100vh;
  border-bottom: 2px solid #fdf1b1;
}

.wrapper {
  width: 800px;
  margin: 30px auto;
}

h1,
h2,
h3 {
  text-align: center;
  color: #fff;
  margin: 0;
  margin-bottom: 15px;
}

h3{
  color: #6e5959fa;
}

.container {
  text-align: center;
  margin-bottom: 15px;
}

.btn {
  margin: 20px;
  font-size: 16px;
  line-height: 160%;
  color: #fff;
  background-color: #59ce9d;
  border: 2px solid  #3e7a61;
  border-radius: 10px;
}

.message {
  display: none;
  padding: 10px;
  font-size: 14px;
  color: #661414;
  border: 2px solid #3e7a61;
  border-radius: 10px;
  background-color: #dfd5d5fa;
}

:root{
  --bs-body-color: #212529;
}

table {
    --bs-table-color: var(--bs-body-color);
    --bs-table-bg: transparent;
    --bs-table-border-color: var(--bs-border-color);
    --bs-table-accent-bg: transparent;
    --bs-table-striped-color: var(--bs-body-color);
    --bs-table-striped-bg: rgba(34, 34, 34, 0.05);
    --bs-table-active-color: var(--bs-body-color);
    --bs-table-active-bg: rgba(34, 34, 34, 0.1);
    --bs-table-hover-color: var(--bs-body-color);
    --bs-table-hover-bg: #F5F5F5;
    width: 100%;
    margin-bottom: 1rem;
    color: var(--bs-table-color);
    vertical-align: top;
    border-color: var(--bs-table-border-color);
}

/* границы ячеек первого ряда таблицы */
table{
  /* display: flex;
justify-content: center; */
  /* width: 60%; */
  margin: 0 auto;
}

table>thead {
  vertical-align: center;
  
}

thead,
tbody,
tfoot,
tr,
td,
th {

  text-align: center;
  border-color: inherit;
  border-style: solid;
  border-width: 1;
}

/* границы ячеек тела таблицы */
.table>tbody {
  vertical-align: inherit;
}